absl-py==0.5.0
alabaster==0.7.11
cheroot==6.5.4
CherryPy==18.1.1
cloudpickle==0.5.5
flake8==3.5.0
Flask==1.0.2
Flask-Cors==3.0.6
glob2==0.6
nltk==3.4.5
numpy==1.15.2
pandas==0.23.4
pandocfilters==1.4.2
partd==0.3.8
Paste==3.0.8
PyYAML==3.13
s3transfer==0.1.13
scikit-learn==0.20.3
scipy==1.2.1
six==1.11.0
sklearn==0.0
urllib3==1.22
Werkzeug==0.14.1
joblib==0.13.2